.deleted {
  transform: translateX(-100%);
  opacity: 0;
  animation: swip ease-out 300ms;
}
@keyframes swip {
  from {
    transform: translateX(0);
    opacity: 100%;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}
