.send-message-input {
  background-color: white;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  display: flex;
  align-items: center;
  padding: 10px;
}

.send-message-input textarea {
  flex: 1;
  resize: none;
  border: none;
  outline: none;
  font-size: 18px;
  line-height: 24px;
  padding: 0;
}

.send-message-input textarea::placeholder {
  color: #9ca3af;
}

.send-message-input .send-button {
  fill: white;
}
