.container {
  /* background: linear-gradient(180deg, rgb(39, 38, 136) 0%, rgb(62, 35, 122) 100%); */
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes color1 {
  0% {
    background-color: rgb(30, 28, 90);
  }
  50% {
    background-color: rgb(57, 49, 106);
  }
  100% {
    background-color: rgb(13, 62, 112);
  }
}

.container {
  animation: gradient 10s ease infinite,
    color1 10s ease infinite alternate-reverse;
}
