.content {
  top: 40%;
  left: 50%;
  min-width: 400px;
  transform: translate(-50%, -50%);
  @apply rounded-2xl bg-white px-7 py-14 shadow-md;
  animation: slide ease-in-out 300ms;
}
@keyframes slide {
  from {
    opacity: 0;
    transform: translate(-50%, -70%);
  }
  to {
    opacity: 100;
    transform: translate(-50%, -50%);
  }
}
